extends ../layouts/default


block main
  h1= title
  hr

block content
  - var action = '/meetings'
  - action += meeting.isNew ? '' : '/' + meeting.id

    .row
      .span7
        form.form-horizontal(method="post", action=action, enctype="multipart/form-data", role="form")

          input(type="hidden", name="_csrf", value="#{csrf_token}")

          - if (!meeting.isNew)
            input(type="hidden", name="_method", value="PUT")

          .form-group
            label.clo-lg-2.control-label(for='title') Title
            .col-lg-10
              input#title.form-control(type='text', name="title", value=meeting.title, placeholder='Enter the title')

        
          .control-group
            label.control-label(for='desc') Body
            .controls
              textarea#desc.input-xlarge(type='text', rows="5", name="body", placeholder='Enter the meeting description')=meeting.body

          .control-group
            label.control-label(for='tags') Tags
            .controls
              input#tags(type='text', name="tags", value=meeting.tags, placeholder='Enter the tags')

          .form-actions
            button.btn.btn-primary(type='submit') Save changes
            &nbsp;
            a.btn(href='/meetings', title="cancel") Cancel
