extends ../layouts/default

block main
  h1= title

block content
  - if (meetings.length)
    - each meeting in meetings
      .meeting
        h3
          a(href='/meetings/'+meeting._id, title=meeting.title) #{meeting.title}
        p= meeting.details

        .meta.muted
          span= formatDate(meeting.createdAt)
          &nbsp; - &nbsp;
          - if (meeting.creator)
            span Creator &nbsp;

            - var name = meeting.creator.name ? meeting.creator.name : meeting.creator.username

            a(href="/users/"+meeting.creator._id)= name
          &nbsp; - &nbsp;
          span Starts @ #{moment(meeting.startDate).format("YYYY-MM-DD HH:mm")} &nbsp;
          span Attendees # - &nbsp;
          span Topics # - &nbsp;
          - if (meeting.tags)
            - each tag in meeting.tags.split(',')
              &nbsp;
              a.tag(href="/tags/"+tag)
                i.icon-tags
                |  #{tag}

    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)
  - else
    p.muted No meetings.&nbsp;
      a(href="/meetings/new") create one
