extends ../layouts/default

block main
  h1= meeting.title

block content
  .row
    .span9
      p=meeting.details
      .meta.muted
        - if (meeting.creator)
          - var name = meeting.creator.name ? meeting.creator.name : meeting.creator.username
          p Created by &nbsp;
            a(href="/users/"+meeting.creator._id)= name
        p.muted Starts at #{moment(meeting.startDate).format("YYYY-MM-DD HH:mm")}
        - if(meeting.agenda)
            p Agenda attached 
              a(href="/agendas/"+meeting.agenda_id)= meeting.agenda.title
          else
            .panel.panel-warning
              .panel-heading
                .panel-title No Agenda Assigned. This meeting will not start.
              .panel-body
                a.btn.btn-success(href="/agendas/new") New Agenda
                &nbsp;
                a.btn.btn-info(href="/agendas/") Add Agenda
        - if (meeting.tags)
          p.tags tags:
            - each tag in meeting.tags.split(',')
              a.tag(href="/tags/"+tag)
                i.icon-tags
                |  #{tag}
              &nbsp;&nbsp;
  hr
  p
    br
    form.center.form-inline.confirm(action="/meetings/"+meeting.id, method="post")
      input(type='hidden', name='_csrf', value="#{csrf_token}")
      a.btn.btn-warning(href='/meetings/'+meeting._id+'/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") Delete

  p
    br
    h3 Comments
    - each comment in meeting.comments
      include ../comments/comment
      //
        include ../comments/form
