extends ../layouts/default

block main
  h1= agenda.title

block content
  .row
    .span9
      p=agenda.objective
      .meta.muted
        - if (agenda.creator)
          - var name = agenda.creator.name ? agenda.creator.name : agenda.creator.username
          p Author -&nbsp;
            a(href="/users/"+agenda.creator._id)= name
        p.muted= formatDate(agenda.createdAt, "%b %d, %Y at %I:%M %p")
        - if (agenda.tags)
          .tags
            - each tag in agenda.tags.split(',')
              a.tag(href="/tags/"+tag)
                i.icon-tags
                |  #{tag}
              &nbsp;&nbsp;

  p
    br
    form.center.form-inline.confirm(action="/agendas/"+agenda.id, method="post")
      input(type='hidden', name='_csrf', value="#{csrf_token}")
      a.btn(href='/agendas/'+agenda._id+'/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") delete

  p
    br
    h3 Comments
    - each comment in agenda.comments
      include ../comments/comment
    include ../comments/form
