extends ../layouts/default


block main
  h1= title
  hr

block content
  - var action = '/companies'
  - action += company.isNew? '' : '/' + company.id
  if(req.user.company)
    h2 Cannot create a company, you are already part of one.
  else
    .row
      .span7
        form.form-horizontal(method="post", action=action, enctype="multipart/form-data", role="form")

          input(type="hidden", name="_csrf", value="#{csrf_token}")

          - if (!company.isNew)
            input(type="hidden", name="_method", value="PUT")

          .form-group
            label.col-lg-2.control-label(for='name') Name
            .col-lg-10
              input#name.form-control(type='text', name="name", value=company.name, placeholder='Enter the name')

          .form-group
            label.col-lg-2.control-label(for='members') Members
            .col-lg-10
              textarea#members.form-control(type='text', rows="5", name="body", placeholder='Enter the company members')=company.members

          .form-group
            label.col-lg-2.control-label(for='tags') Tags
            .col-lg-10
              input#tags.form-control(type='text', name="tags", value=company.tags, placeholder='Enter the tags')

          .form-group
            .col-lg-offset-2.col-lg-10
            button.btn.btn-primary(type='submit') Save changes
            &nbsp;
            a.btn(href='/companies', title="cancel") Cancel

